sources-uri: https://github.com/oftl/moe.git
sources-branch: master

insecure-registries: "<ip of registry>:5000"
moe-ci-image: <ip of registry>:5000/moe-ci
moe-final-image: <ip of registry>:5000/moe-final
